body{
  padding-top: 145px;
  transition: 0.3s all;

  header{
    position: fixed;
    z-index: 200;
    background: #000;
    min-height: 145px;
    height: auto;
  }
}
body.fixed {
  padding-top: 110px;

  header{
    min-height: 100px;
    height: auto;

    .headerbar_1 {
      .headerbar_col_left .navbar-toggler{
        height: 50px;
        padding: 10px 20px;
      }

      .navbar-brand{
        padding: 0; 
        img{
          margin-right: 0;
          width: 45px;
        }
      }
    }

    .menu_btn{
      font-size: 12px;
    }

    .headerbar_2{
      padding: 0px 50px;
    }

    .navbar .login_menu li a{
      font-size: 15px;
    }
    .navbar #main_menu ul.navbar-nav>li{
      font-size: 15px;

      &>a{
        padding: 15px 10px !important;
      }
    }

   
  }
}

header {
  width: 100%;
  left: 0;
  top: 0;
  border-top: 5px solid #fffc00;
  background: #000;

  .headerbar_1{
    padding: 10px 50px;
    border-bottom:1px solid #222;
    display: flex;
    align-items: center;

    .headerbar_col_left{
      flex: 1;

      .navbar-toggler{
        position: fixed !important;
        z-index: 999;
        top: 6px;
        padding: 20px;
        left: 30px;
        width: 70px;
        height: 70px;
        transition: 0.3s all;
        display:none;

        i{
          display: block;
          width: 32px;
          height: 3px;
          background: #FFF;
          margin: 6px 0;
          transition: 0.2s all;
        }

        &.open{

          i:nth-child(1) {
            transform: rotate(45deg);
            margin-top: 12px;
          }

          i:nth-child(2) {
            transform: rotate(-45deg);
            margin-top: -9px;
          }

          i:nth-child(3) {
            opacity: 0;
          }
        }
      }
    }

    .navbar-brand{
      transition: 0.3s all;

      img{
        transition: 0.3s all;
        margin-right: 0;
        width: 80px;
      }
    }

    .headerbar_col_right{
      flex: 1;

      #header_social_links{
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin: 0;
        padding: 0;
        list-style: none;

        li{
          margin: 0;
          padding: 0 10px;

          img{
            width: 24px;
            height: 24px;
          }
        }
      }
    }
  }

  .headerbar_2{
    padding: 0px 50px;
    border-bottom:1px solid #222;
    display: flex;
    align-items: center;
  }

  .menu_btn {
    font-size: 14px;
    font-weight: 700;
    background: $accent_color;
    color: #000;
    text-transform: uppercase;
    padding: 7px 12px;
    margin-right: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
    transition: 0.3s all;
  }

  .navbar-collapse {
    align-items: center;
    justify-content: flex-end;
  }



  .navbar {
    flex-wrap: wrap;
    padding: 0;
    position: relative;
    width: 100%;

    #main_menu {
      display: flex;
      flex: 1;
      justify-content: flex-start;
      align-items: center;

      form#header_search{
        display: flex;
        padding-left: 20px;

        input{
          padding: 0;
          width: 0;
          box-shadow: none;
          outline: none;
          background: none;
          border: 0;
          border-bottom: 2px solid $white;
          color: $white;
          font-size: 16px;
          line-height: 2.5;
          font-weight: 400;
          margin-top: -5px;
          transition: 0.3s all;

        }

        

        &.active{
          input{
            padding: 0 3px;
            width:100px
          }
        }

        .search_btn {
          background: none;
          border: none;
          padding: 0;
          margin: 0;

          img{
            width: 28px;
            height: 28px;
          }
        }
      }
      

      ul.navbar-nav {
        &>li {
          margin-bottom: 0 !important;
          font-weight: 500;
          font-size: 16px;
          text-transform: capitalize;
          display: flex;
          align-items: center;
          margin-right: 0px;

          &:last-child {
            margin-right: 0;
          }

          &.active {
            &>a {
              color: $accent_color;
            }
          }

          &>a {
            color: $white;
            padding: 20px 10px !important;
            transition: 0.3s all;

            &:active,
            &:focus,
            &:hover {
              color: $accent_color;
            }
          }

          &>ul{
            margin: 0;
            background: #000;

            &>li{
              margin: 0;
              display: block;

              &>a{
                color: #FFF;
                font-size: 15px;
                text-transform: capitalize;
                padding: 6px 15px !important;
                display: block;

                &:hover{
                  text-decoration: underline;
                }
              }
            }
          }
        }
      }
    }

    .login_menu {
      list-style: none;
      padding-left: 0;
      margin-bottom: 0;
      display: flex;
      align-items: center;

      li {
        margin-bottom: 0;

        a {
          color: $white;
          font-size: 16px;
          font-weight: 500;
        }

        &:after {
          content: "/";
          padding: 0 10px;
          color: $white;
        }

        &:last-child {
          &:after {
            content: none;
          }
        }
      }
    }
  }
}

 #main_menu_popup {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0,0,0,0.98);
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 998;
        flex-direction: column;
        display: none;
        opacity: 0;
        transition: 0.2s all;

        .search_btn{
          display: none;
        }

        ul{
          li{
            display: block !important;
            text-align: center !important;

            a{
              display: block !important;
              padding: 15px !important;
              color: $white;
              font-size: 24px;

              &:active,
              &:focus,
              &:hover {
                color: $accent_color;
              }
            }
          }
        }

        &.active{
          display: flex;
          opacity: 1;
        }

        .navbar-nav {
          justify-content: center !important;
          flex-wrap: wrap;
          display: flex;
        }
      }

@media (min-width: 1500px) {
      header .navbar #main_menu{
        form#header_search.active input{
          width: 150px;
        }
        ul.navbar-nav li{
          margin-right: 25px;
        }
      }
    }

@media (min-width: 1200px) {
  #main_menu_popup{
    display: none !important;
  }
}

@media (max-width: 1200px) {

  #menu-header-menu{
      transition: 0.2s all;
      position: relative;

      &.open{
        padding-right: 250px;
      }

      li{
        position: initial;

        .dropdown-menu{
          display: block !important;
          left: auto !important;
          position: absolute !important;
          right: 0 !important;
          width: 0px !important;
          min-width: 0;
          overflow: hidden;
          height: 100% !important;
          top: 0 !important;
          bottom: 0 !important;
          transform: none !important;
          transition: 0.2s all;
          background: #000;
          border:none;

          a{
            padding: 10px !important;
            font-size: 17px;
          }

          &.show{
            width: 200px !important;
          }
        }
      }
    }
  

  header {
    .navbar-toggler {
        display:block !important;
        flex: 1;
    }

    .navbar {
      .navbar-brand {
        order: 0;
        margin: 0 20px 0 0;
      }

      #main_menu{
        form#header_search{
          padding-left: 10px;

          &.active input{
            width: 150px;
          }
        }
        ul.navbar-nav{
          display: none;

          li{
            margin-right: 0;
          }
        }
      }

    }
    .menu_btn{
      margin-right: 15px;
    }
  }
}
@media (max-width: 992px) {
  header {

    .container {
      max-width: 100%;
    }

     .headerbar_1, .headerbar_2{
       padding: 0px 30px;
     }

    .headerbar_1 .headerbar_col_right #header_social_links li img{
      width: 28px;
      height: 28px;
    }

    .headerbar_1 .headerbar_col_left .navbar-toggler{
      left: 10px;
    }
    
    .navbar {
      padding: 5px 0px !important;
      justify-content: space-between;

     
    }
  }
}
@media (max-width: 768px) {
  header {
    .navbar #main_menu form#header_search{
      padding-left: 0;
    }
    .headerbar_1 .headerbar_col_right #header_social_links{
      margin-right: -10px;
    }

    .menu_btn{
      display: none;
    }
    .headerbar_1{
       padding: 10px 20px;
     }
     .headerbar_2{
       padding: 0px 20px;
     }

    .headerbar_1 .headerbar_col_left .navbar-toggler{
      left: 0px;
    }

    .navbar {
      flex-direction: row;

      #main_menu {
        
      }

      .navbar-toggler {
        order: 1;
      }

      .navbar-collapse {
        text-align: center;

        ul {
          li {
            margin-right: 0;
            padding: 10px;
            border-bottom: 1px solid rgba($white, 0.2);
          }
        }
      }
    }
  }
  body.fixed header .headerbar_2{
    padding: 0px 20px;
  }
}
@media (max-width: 576px) {

}
@media (max-width: 480px) {}
@media (max-width:320px) {}